html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-color: #588477;
  background-size: 64px;
  border-bottom: 3px solid rgba(16, 52, 41, .8);
  border-top: 3px solid rgba(16, 52, 41, .8);
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
  color: #fff;
}

.nav a:hover {
  border: 3px solid #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: left .75em;
  background-size: contain;
  color: #2d5a4d;
  background-color: #fff;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-position: left 180px;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 300px;
}

.banner {
  background-image: linear-gradient(to top, rgba(16, 52, 41, .8) 0%, rgba(16, 52, 41, 0) 30%), url("../images/banner.jpg");
  background-position: center bottom, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  border-bottom: 3px solid #588477;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
